<sly data-sly-use.model="com.itv.core.models.BrandsModel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.all @ categories='itv.components.brands'}"/>
<div class="brands__container" data-sly-test="${model.brands}">
  <sly data-sly-list.brand="${model.brands}">
    <img class="brands__image" src="${brand.image}" alt="${brand.name}" />
  </sly>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!model.brands, classAppend='brands__container'}"></sly>