<header class="itv-header-lp">
  <div class="itv-header-lp__container">
    <div class="itv-header-lp__logo">
      <sly data-sly-resource="${'logo' @ resourceType='core/wcm/components/image/v3/image'}"></sly>
    </div>
    <nav class="itv-header-lp__nav">
      <sly data-sly-resource="${'nav' @ resourceType='core/wcm/components/navigation/v2/navigation'}"></sly>
    </nav>
    <div class="itv-header-lp__whatsapp">
      <sly data-sly-resource="${'whatsapp' @ resourceType='core/wcm/components/button/v2/button'}"></sly>
    </div>
    <div class="itv-header-lp__burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>