.cmp-super-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.cmp-super-text__body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.cmp-super-text__quote {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  font-style: italic;
  border-left: 4px solid #ccc;
  padding-left: 16px;
  margin-bottom: 20px;
}
.cmp-super-text__author {
  align-self: flex-end;
  font-size: 14px;
  color: #666;
  font-style: italic;
}
.cmp-super-text_disclaimer {
  font-size: 12px;
  line-height: 1.4;
  color: #333;
}
.cmp-super-text--capital-letter p:first-of-type::first-letter {
  float: left;
  font-size: 4em;
  line-height: 1;
  padding-right: 20px;
}
.cmp-super-text--light {
  background-color: transparent;
}
.cmp-super-text--dark {
  background-color: #1a1a1a;
  padding: 20px;
}
.cmp-super-text--dark p,
.cmp-super-text--dark .cmp-super-text__author {
  color: white;
}
.cmp-super-text--dark.cmp-super-text__quote {
  border-left-color: #03eeff;
}
.cmp-super-text--margin-bottom-small {
  margin-bottom: 24px;
}
.cmp-super-text--margin-bottom-big {
  margin-bottom: 48px;
}
.cmp-super-text--margin-top-small {
  margin-top: 24px;
}
.cmp-super-text--margin-top-big {
  margin-top: 48px;
}
