.brands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 16px 14px 16px;
  @media ($tablet) {
    margin: 45px 16px 80px 16px;
  }
  @media ($desktop) {
    margin: 80px 160px;
    gap: 44.44px;
  }
  .brands__image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    @media ($desktop) {
      filter: grayscale(100%);
      opacity: 0.6;
      transition: all 0.3s ease;
      &:hover {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
  .brands__link {
    display: block;
    text-decoration: none;
  }
  .cmp-link__screen-reader-only {
    display: none;
  }
  .cq-LinkChecker {
    display: none;
  }
}
