.cardlist-lp__main-container {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 16px;
  overflow: hidden;
  @media ($desktop) {
    padding: 80px 160px;
  }
}
.swiper-slide {
  width: auto !important; 
}
.swiper {
  padding-bottom: 0px;
}
.swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  margin-top: 16px !important;
}
.swiper-pagination-bullet {
  background-color: #c6c6c6;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--theme-primary, $color-button-primary);
}
.cardlist-lp__card {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 11px 16px;
  background-color: #F6F6F6;
  border-radius: 16px;
  width: 361px;
  height: auto;
  box-sizing: border-box;
  @media ($tablet) {
    width: 381px;
    height: auto;
  }
  .cardlist-lp__image {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
  }
  .cardlist-lp__title {
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 8px;
  }
  .cardlist-lp__description {
    font-size: 14px;
    color: #6d6d6d;
    margin-bottom: 8px;
  }
  .cardlist-lp__buttons {
    display: flex;
    gap: 24px;
    margin-top: auto;
    .cardlist-lp__buy-button {
      text-decoration: none;
      text-align: center;
      width: 50%;
    }
    .cardlist-lp__test-button {
      text-decoration: none;
      text-align: center;
      width: 50%;
    }
  }
}