/* Contenedor principal */
.basicpage .root > .cmp-container > .aem-Grid > .container > .cmp-container {
  margin: 0 auto;
  margin-left: 160px;
  margin-right: 160px;
  padding: 60px;
}
/* Columnas */
.basicpage .root > .cmp-container > .aem-Grid > .container > .cmp-container > .aem-Grid > .aem-GridColumn {
  width: calc(50% - 5px) !important;
}
.basicpage .root > .cmp-container > .aem-Grid > .container > .cmp-container > .aem-Grid {
  display: flex;
  gap: 10px;
}
/* Móvil */
@media (max-width: 1024px) {
  /* Elimina márgenes y padding para que ocupe todo el ancho en pantallas pequeñas */
  html, body.basicpage{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  /* Contenedor principal */
.basicpage .root > .cmp-container > .aem-Grid > .container > .cmp-container{
  margin: 0 16px;
}
  /* Columnas */
  .basicpage .root > .cmp-container > .aem-Grid > .container > .cmp-container > .aem-Grid > .aem-GridColumn {
    width: 100% !important;
  }
}