<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />
<div class="itv-hero-lp">
  <div class="itv-hero-lp__content">
    <h1 class="itv-hero-lp__content-title" data-sly-test="${properties.title}">
      ${properties.title}
    </h1>
    <p class="itv-hero-lp__content-description" data-sly-test="${properties.description}">
      ${properties.description}
    </p>
  </div>
  <div class="itv-hero-lp__buttons">
    <a data-sly-test="${properties.buytext}"
      href="${properties.buylink}"
      class="cmp-button cmp-button--primary">
      <span class="cmp-button--text">${properties.buytext}</span>    
    </a>
    <a data-sly-test="${properties.testtext}"
      href="${properties.testlink}"
      class="cmp-button cmp-button--transparent">
      <span class="cmp-button--text">${properties.testtext}</span>    
    </a>
  </div>
  <div class="itv-hero-lp__images">
    <div class="itv-hero-lp__backgroundimage">
      <img data-sly-test="${properties.backgroundimage}"
        src="${properties.backgroundimage}"
        alt="Background image" />
    </div>
    <div class="itv-hero-lp__carimage">
        <img data-sly-test="${properties.carimage}"
        src="${properties.carimage}"
        alt="Car image" />
    </div>
  </div>
</div>
<sly
  data-sly-call="${templates.placeholder @ isEmpty=!properties.title, classAppend='itv-hero-lp'}"
></sly>
